<section class="homeBeers">
    <div class="beersBox">{{#each beers}}
            <img class="beerImg" src="{{image_url}}" alt="">
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <p>{{this.tagline}}</p> 
       {{/each}} </div>
</section>
