<div class="home">
    <div class="beerDiv">
        <img class="beerImgHome" src="/images/beer.png" alt="/images/beer.png">
    </div>
    <div class="checkDiv">
        <a class="checkBeerBttn" href="/beers">
            Check the Beer
        </a>
    </div>
    <div class="randomDiv">
        <a class="randomBeerBttn" href="/random-beers">
            Check the Random Beer!
        </a>
    </div>
</div>